{%extends "base.html" %}

{% block title %} Your Porfolio {% endblock %}

{% block content %}
<h1 align = "center">Your Portfolio</h1>
<div class = 'homediv1'>
    <div class = 'inline'>
        <h6 class = 'lol' style = "color: blue; display: inline-block; margin-right: 150px; margin-left: 20px">Equity</h6>
        <h6 class = 'lol' style = "color: blue; display: inline-block; margin-right: 125px;">Current Price</h6>
        <h6 class = 'lol' style = "color: blue; display: inline-block; margin-right: 125px;">Purchase Price</h6>
        <h6 class = 'lol' style = "color: blue; display: inline-block; margin-right: 125px;">Quantity Owned</h6>
        <h6 class = 'lol' style = "color: blue; display: inline-block;">Profit and Loss</h6>
    </div>
</div>
<ul class = "list-group list-group-flush" id = "notes">
    {% for note in user.portfolio%} <!-- user is related to notes via foreign key database -->
    <li class = "list-group-item" >
        <div class = "homediv1" style = "display:flex; height:10px"> 
        <div style = 'width:200px'> {{note.data}}  </div>
        <div style = 'font-size: 20px; font-weight: bold; width:225px'> {{note.current_price}} </div>
        <div style = 'width:235px'> {{note.bought_price}}</div>
        <div style = 'width:248px'> {{note.bought_qty}}</div>
        {%if note.profitloss > 0 %}
        <div style = 'font-size: 20px; font-weight: bold; color: green;'> {{note.profitloss}} </div>
        {% else %}
        <div style = 'font-size: 20px; font-weight: bold; color: red;'> {{note.profitloss}} </div>
        {% endif %}
        </div>
        <a type = "button" class = "close" href = '/deleteyrport/{{ note.id }}'>
            <span aira-hidden="true"> &times; </span>
        </a>
    </li>
    {% endfor %}
</ul>
<br/>
<form method = 'POST', action = '/yrport'> <!-- sends it to the home page as a POST method-->
    <textarea name = "stock" id = "stock" class = "form-control" style = "width:33%; display:inline-block;" placeholder="Enter equity here"></textarea>
    <textarea name = "bought_price" id = "bought_price" class = "form-control" style = "width:33%; display:inline-block;" placeholder="Purchase Price"></textarea>
    <textarea name = "bought_qty" id = "bought_qty" class = "form-control" style = "width:33%; display:inline-block;" placeholder="Purchase Quantity"></textarea>
</br>
    <div align = "center">
        <button type = "submit" class = "btn btn-primary">Add Stock</button>
    </div>
</form>

{% endblock %}